/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset */


body {
    background: hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.feedbackCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    border-radius: 15px;
    background: hsl(213, 19%, 18%);
}

.starIcon {
    height: 1rem;
    width: 1rem;
    background: hsl(213, 19%, 25%);
    padding: 0.5em;
    border-radius: 50%;
    margin: 1rem;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    margin: 0.5rem 0 1rem 1rem;
    font-weight: 700;

}

.feedbackInstruction {
    font-weight: 400;
    margin: 0 1rem 1rem 1rem;
    line-height: 1.2rem;
    color: hsl(0, 0%, 100%);
}




.thankyouCard {
    display: none;
}
 